.wrapper 
  .left-contents
    .left-header
      .left-header__box
        %p.left-header__box__name 
          = current_user.name
        %ul.left-header__box__botton
          %li.left-header__box__botton__new-group
            = link_to new_group_path do
              %i.fa.fa-edit
          %li.left-header__box__botton__new-acount
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog
    .left-groups
      .group
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .group__group-name 
              = group.name
            .group__group-text 
              = group.show_last_message
  .chat-space
    .top
      .top__left-box
        %p.top__left-box__group-name 
          = @group.name
        %p.top__left-box__member 
          - @group.users.each do |human|
            = human.name
      = link_to edit_group_path(@group), class:'top__edit-box' do
        .top__edit-box__btn Edit
    .talks
      = render @messages
      
    
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message', id: 'new_message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'


 